fastapi==0.116.1
uvicorn[standard]==0.35.0

pydantic==2.12.5
numpy==1.26.4
scipy==1.10.1
scikit-learn==1.6.1

torch==2.8.0
transformers==4.55.4
sentencepiece==0.2.1
safetensors==0.6.2

joblib==1.5.2
scikit-learn==1.7.1
scipy==1.16.1
protobuf==5.29.5
sacrebleu==2.5.1
rouge-score==0.1.2
